
.c-button{
  background-color: $theme-primary;
  color: $white;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: 0.5s ease all;
  box-shadow: 0 10px 15px -3px rgb(251 251 251 / 0.1), 0 4px 6px -4px rgb(251 251 251 / 0.1);
  &:hover{
    background-color: transparent;
    color: $theme-primary;
    border: 1px solid $theme-primary;
  }
}
